# please make sure you have already a pytorch install that is cuda enabled!
av
einops
flashy
hydra-core
hydra_colorlog
julius
num2words
numpy
sentencepiece
spacy
torch
torchaudio
huggingface_hub
tqdm
transformers
xformers
demucs
librosa
soundfile
gradio
torchmetrics
encodec
protobuf
torchvision
torchtext
pesq
pystoi
torchdiffeq
encodec
pytaglib
